body, html{ background-color:#fff}
a { text-decoration:underline}
a:hover{ cursor:pointer}

#title{ width:100%; text-align:center; font-family:Tahoma, Geneva, sans-serif; font-size:16pt; font-weight:bold; padding:10px 0px;}

#chartName{ width:20%; min-width:300px; padding:10px; vertical-align:middle;}
.chartNameContainer{ display:table; width:100%; text-align:left; margin-bottom:6px; vertical-align:middle;}
.chartNameCol{width:30pt; height:30pt;float:left; margin-right:10px; border-radius:30pt; margin-top:8px;}
.chartNameName{ font-family:Tahoma, Geneva, sans-serif; font-size:14pt; font-weight:bold; padding-top:6pt;}
.chartNameName span{ display:block; font-size:14px; color:#666}

.graphContainer{ width:calc(100% - 20px); margin-bottom:10px;}
#graphContainer_plus, #graphContainer_minus, #graphContainer_absolute{ position:absolute; top:0px; left:0px;opacity:0;}


#control{width:30%; max-width:600px; }
#ctrl{ font-size:20pt; text-decoration:none; color:#888}

#streamUrl,#streamLabel,#streamKey{ width:100%;height:40px; font-size:14pt; border:1px solid #ccc; color:#777;display:block; margin-bottom:4px; padding:0px 4px}
#streamKey{ width:100px; display:inline-block;}
#streamColor{ display:inline-block}
#divSet{ width:calc(100% - 	190px); text-align:right; display:inline-block}
#del{ margin-right:30px; color:#888; font-size:10pt}
#set{ font-size:14pt}